{% extends "layouts/template.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<ul>
    {% for entry in blog_entries %}
    <li>{{ entry.title }}</li>
    <li>{{ entry.body }}</li>
    {% endfor %}
</ul>

<div>
    <h2>Querie Strings</h2>
    {% for q, i in queries %}
    <p>{{q}} - {{i}}</p>
    {% endfor %}

    <hr>
    <h3>Query ID</h3>
    <p>ID: {{queryID}}</p>

    <hr>
    <h3>Query Nome</h3>
    <p>Nome: {{queryNome}}</p>


    <hr>
    <h3>Parse</h3>
    <p> ID: {{parse.ID}} </p>
    <p> Nome: {{parse.Nome}} </p>
    <p> Sobrenome: {{parse.Sobrenome}} </p>


</div>

{% endblock %}